<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/dist/library.min.css" rel="stylesheet" />
    <link href="~/Content/js/highlight/styles/monokai.css" rel="stylesheet" />
    <link href="~/Content/src/black-tie/css/black-tie.min.css" rel="stylesheet" />
    <link href="~/Content/src/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        .scroll {
            overflow: auto;
            max-height: 500px;
            padding-right: 17px;
        }
    </style>
</head>
<body>
    <div class="row">
        <nav class="nav nav--dark">
            <a href="/"><h4 class="nav__title" style="margin-left: 10px;">SJVAPCD School Tracker Program&nbsp;&nbsp;<i class="bts bt-home bt-sm"></i></h4></a>
                <ul class="nav__list">
                    <li class="nav__dropdown-toggle padding-left-none padding-right-none">
                        <a href="#"><i class="bts bt-book-open bt-sm"></i>&nbsp;&nbsp; Schools <i class="bts bt-caret-down"></i></a>
                        <ul class="nav__dropdown-list">
                            @foreach (var county in ViewBag.CountyList)
                            {
                                <li class="nav__dropdown-toggle-tertiary">
                                    @Html.ActionLink((string)@county.CountyName + " County", "Index", "Counties", new { countyId = (object)@county.ID }, null)
                                    <ul class="nav__dropdown-list-tertiary">
                                        @foreach (var district in ViewBag.SchoolDistrictList)
                                        {
                                            if ((int)district.CountyID == (int)county.ID)
                                            {
                                                <li class="nav__dropdown-toggle-tertiary">
                                                    @Html.ActionLink((string)@district.SchoolName, "Index", "SchoolDistricts", new { districtId = (object)@district.ID }, null)
                                                    <ul class="nav__dropdown-list-tertiary no-padding scroll">
                                                        @foreach (var school in ViewBag.SchoolList)
                                                        {
                                                            if ((int)school.DistrictID == (int)district.ID)
                                                            {
                                                                <li>@Html.ActionLink((string)@school.SchoolName, "Details", "Schools", new { id = (object)@school.ID }, null)</li>
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    <li><a href="/Contacts"><i class="bts bt-question-circle bt-sm"></i>&nbsp;&nbsp; Contact List</a></li>
                    <li><a href="/Home/About"><i class="bts bt-question-circle bt-sm"></i>&nbsp;&nbsp; About</a></li>
                </ul>
</nav>
    </div>
    @RenderBody()
   
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
